name: lab-2 ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0

      - name: Install dependencies
        run: opam install dune ounit2 qcheck-core qcheck-ounit ocamlformat.0.27.0 -y

      - name: Check formatting
        run: opam exec -- ocamlformat --check $(find src test -type f \( -name "*.ml" -o -name "*.mli" \))

      - name: Build
        run: opam exec -- dune build
        
      - name: Run tests
        run: opam exec -- dune test
