name: lab-2 ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0

      - name: Install dependencies
        run: opam install dune ounit2 qcheck-core qcheck-ounit ocamlformat -y

      - name: Check formatting
        run: |
          find src test -type f \( -name "*.ml" -o -name "*.mli" \) \
            | xargs ocamlformat --check

      - name: Build
        run: opam exec -- dune build @check
        
      - name: Run tests
        run: dune test
