name: lab-2 ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up OCaml and OPAM
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: '5.3.0' 

      - name: Install dependencies
        run: opam install . -y --with-test --with-doc

      - name: Check code formatting
        run: find src test -name "*.ml" -o -name "*.mli" | xargs opam exec -- ocamlformat --enable-outside-detected-project --check

      - name: Build project
        run: |
          dune build

      - name: Run tests
        run: |
          dune runtest
          dune exec test/tests.exe
          dune exec test/property_tests.exe
